parameters:
    level: 6
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
       - config/paths.php
       - vendor/cakephp/cakephp/src/functions.php
    paths:
        - src
        - plugins/BookkeepingPohoda/src
        - plugins/Radius/src
        - plugins/Ruian/src
    excludePaths:
        - src/Console/Installer.php