parameters:
    level: 5
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
    paths:
        - src
    excludePaths:
        - src/Console/Installer.php