/* High Contrast */
:root {
    /* The following are official CakePHP colors */
    --color-cakephp-red: #d33c43;
    --color-cakephp-gray: #404041;
    --color-cakephp-blue: #2f85ae;
    --color-cakephp-lightblue: #34bdd7;

    /* These are additional colors */
    --color-lightgray: #606c76;
    --color-white: #ffffff;

    --color-main: #000000;
    --color-main-bg: #ddf0ff;
    --color-links: #000099;
    --color-links-active: #ffffff;
    --color-links-active-bg: #40a0f0;
    --color-nav-links: var(--color-links);
    --color-nav-links-active: var(--color-links-active);
    --color-nav-links-active-bg: var(--color-links-active-bg);
    --color-headings: #000000;
    --color-content-bg: #fbfcff;
    --color-table-borders: #000000;
    --color-table-headings-bg: #99ccff;

    --color-message-success-bg: #e3fcec;
    --color-message-success-text: #1f9d55;
    --color-message-success-border: #51d88a;

    --color-message-warning-bg: #fffabc;
    --color-message-warning-text: #8d7b00;
    --color-message-warning-border: #d3b800;

    --color-message-error-bg: #fcebea;
    --color-message-error-text: #cc1f1a;
    --color-message-error-border: #ef5753;

    --color-message-info-bg: #eff8ff;
    --color-message-info-text: #2779bd;
    --color-message-info-border: #6cb2eb;
}
